[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
bs4 = "*"
requests = "*"
colorama = "*"
urllib3 = "*"

[requires]
python_version = "3.8"
